@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap');

:root {
  --color-green: rgb(18, 164, 18); 
  --color-yellow: rgb(239, 195, 0); 
  --color-gray: rgb(143, 143, 143); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 5rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.board {
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess_row {
  display: flex;
  margin: 1rem 0;
  gap: .5rem;
}

.tile {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.tile--correct {
  background-color: var(--color-green);
  color: whitesmoke;
  border: none;
}

.tile--incorrect {
  background-color: var(--color-gray);
  color: whitesmoke;
  border: none;
}

.tile--partial {
  background-color: var(--color-yellow);
  color: whitesmoke;
  border: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(8, 5rem);
  justify-content: center;
  gap: 1rem;
}

.key {
  border-radius: 4px;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  background-color: rgb(229, 229, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key--correct {
  background-color: var(--color-green);
  color: whitesmoke;
}

.key--incorrect {
  background-color: var(--color-gray);
  color: whitesmoke;
}

.key--partial {
  background-color: var(--color-yellow); 
  color: whitesmoke;
}

.key--large {
  width: 10rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 30rem;
  width: 50%;
  background-color: white;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 5px;
}

.modal__message {
  font-size: 4rem;
}

.modal__button {
  background-color: green;
  cursor: pointer;
  border: none;
  padding: 1.5rem 5rem;
  color: white;
  border-radius: 5px;
  font-size: 1.6rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(60, 60, 60, 0.1);
}

@media screen and (max-width: 768px) {

  .title {
    margin-top: 3rem;
  }

  .board {
    margin: 2rem auto;
  }

  .keyboard {
    grid-template-columns: repeat(7, 4rem);
    margin-bottom: 1rem;
    gap: .5rem;
  }

  .guess_row {
    margin: .5rem 0;
  }

  .tile {
    width: 4.5rem;
    height: 4.2rem;
  }

  .key {
    width: 3.6rem;
    height: 4rem;
    font-size: 1.8rem;
  }

  .key--large {
    width: 8rem;
  }

  .modal {
    width: 90%;
    min-height: 15rem;
  }

  .modal__message {
    font-size: 2rem;
  }

  .modal__button {
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }
}